COMPOSE_PROJECT_NAME=myfistsite

APP_PORT=8000
GRAFANA_PORT=3000
LOKI_PORT=3100

DJANGO_SECRET_KEY=replace-this-value-before-deploy
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,SERVER_IP_OR_DOMAIN
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000,http://SERVER_IP_OR_DOMAIN:8000

DJANGO_DB_NAME=/app/data/db.sqlite3
DJANGO_MEDIA_ROOT=/app/media
DJANGO_STATIC_ROOT=/app/staticfiles
DJANGO_ENABLE_DEBUG_TOOLBAR=0

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=replace-this-password