{% extends "frontend/base.html" %}
{% load static %}

{% block content %}
<div class="Auth">
    <div class="wrapper">
        <h3 class="sign-in">Create account</h3>
        <form @submit.prevent="signUp()">
            <input class="user-input" type="text" name="name" id="name" placeholder="Full name"/>
            <input class="user-input" type="text" name="login" id="login" placeholder="Username"/>
            <input type="password" name="password" id="password" placeholder="Password"/>
            <input type="submit" value="Create account"/>
            <a class="sub-link" href="/sign-in">Sign in</a>
        </form>
    </div>
</div>
{% endblock %}

{% block mixins %}
<script src="{% static 'frontend/assets/js/signUp.js' %}"></script>
{% endblock %}